/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: black;
  color: white; 
}

h1 {
  font-family: verdana, arial, sans-serif; 
}

button {
  padding: 20px;
  border-radius: 20px;
}

#gameButtonArea > button {
  width:200px;
  height:200px;
  margin:2px;
}

.hidden {
  display: none;
}

#button0 {
    background: lightgreen;
}

#button0:active, #button0.lit {
    background:green;
}

#button1 {
    background: lightblue;
}

#button1:active, #button1.lit {
    background:blue;
}

#button2 {
    background: pink;
}

#button2:active, #button2.lit {
    background:red;
}

#button3 {
    background: lightyellow;
}

#button3:active, #button3.lit {
    background:yellow;
}

#button4 {
    background: Gold;
}

#button4:active, #button4.lit {
    background: GoldenRod;
}

#button5 {
    background: LightSalmon;
}

#button5:active, #button5.lit {
    background:DarkSalmon;
}

#button6 {
    background: SeaGreen;
}

#button6:active, #button6.lit {
    background: OliveDrab;
}

#button7 {
    background: Thistle;
}

#button7:active, #button7.lit {
    background:Violet;
}